.form{
     margin-top: 1.5rem;
}
.form-head{
    gap: 4rem;
    margin-bottom: 2rem;
}
.form-head h3{
    font-size: 1.4rem;
    font-weight: 400 !important;
}
.form-h{
    border: 1px solid var(--green);
    border-top: 12px solid var(--green);
    border-radius: 3px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 80%;
    padding: 2.5rem;
}