.center{
    align-items: center;
    justify-content: space-between;
}
.expand{
    margin-bottom: 4rem;
}
.backaro{
    width: .7rem;
    margin: 2.5rem 0;
}
.description{
    margin-right: 6rem;
}
.description h4{
    font-style: italic ;
    text-decoration: underline;
margin-bottom: 1rem;
}
.description p{
    font-size: .9rem;
    margin-bottom: 2rem;
}
.pre_participants h4{
    margin-bottom: 1rem;
    font-style: italic ;
    text-decoration: underline;
}
.pre_participants ul{
    list-style:inside;
}
.pre_participants li{
margin-bottom: .5rem;
font-size: .8rem;
}
.activities{
    margin-bottom: 4rem;
}
.activities .activity_row{
margin-bottom: 2rem;
}
.activities h4{
    margin: 2rem 0;
    font-style: italic ;
    text-decoration: underline;
}
.activity_row li{
    list-style:inside;
}

.activity_row .required_no{
    text-align: left;
}
.activities .participant_no{
    font-weight: 600;
}
.btn_div{
    justify-content: center;
}

.start-btn:hover{
    cursor: pointer;
}