.Profile-section{
    margin-bottom: 5rem;
}
.profile-head{
    gap: 3rem;
    margin-bottom: 1rem;
}
.profile-body{
    gap: 4rem;
    margin-top: -2rem;
}
.profile-card{
 background-image: url('../../assets/img/profile-bg.png');
background-size: cover;
background-repeat: no-repeat; 
box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
width: 40%;
flex-direction: column ;
justify-content: space-between;
padding:2rem;
gap: 12rem;
}
.profilecard-btns{
    flex-direction: column !important;
    justify-content: center;
    width: 100%;
}
.userImage-div img{
    width: 9rem;
    border-radius: 50%;
}
.profilecard-btns hr{
    width: 70%;
    margin-bottom: 3rem;
}
.profilecard-btns button{
    padding: .8rem 2rem;
    border: 2px solid black;
    font-weight: 600;
    width: 85%;
    margin-bottom: 1rem;
    border-radius: 6px;
}
.profilecard-btns button{
cursor: pointer;
}
.settings-btn{
    border: 2px solid var(--base) !important;
    color: var(--base);
}
.profile-info{
    width: 100%;
}
.profile-info h4{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.profile-info h5{
    font-size: .9rem;
}
.profile-info hr{
    margin-bottom: 1.5rem;
}
.profile-name-field h5{
    margin-bottom: 1rem ;
}
.info-display{
    margin-bottom: 1.5rem;
    background: var(--ltgray);
    padding: .8rem;
    font-weight: 500;
    border: var(--border);
    border-radius: 7px;
}
.profile-name-field p{
    margin-bottom: 1.5rem;
    padding-right: 4rem;
    font-size: .8rem;
}
.name-display{
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: capitalize;

}
.agesexdept{
    grid-template-columns:1fr 1fr 2fr ;
    gap: 1rem;
}
.dept-display{
    text-transform: capitalize;
}
.bio-display{
    margin-bottom: 1.5rem;
    background: var(--ltgray);
    padding: .8rem;
    border: var(--border);
    border-radius: 7px;
    min-height: 12rem;
}