.home {
    background: no-repeat top left url("../../assets/img/home-bg.jpg");
    background-size: cover;
}

.home-aside {
    width: 70%;
    height: 300px;
    background-color: var(--base);
}

.home-inner {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    margin-bottom: var(--mb-md);
}

.home-text {
    color: var(--text-lite);
    display: block;
    animation: fadeIn 30ms infinite;
}

.home-text-1 {
    animation-delay: 0s;
}

.home-text-2 {
    animation-delay: 0s;
}

.home-text-3 {
    animation-delay: 0s;
}

.home-link {
    padding: 0.5em 1em;
    border-radius: 8px;
    background-color: var(--surface-gray-100);
    color: var(--text-dark);
}

.home-blob {
    position: absolute;
    right: 0;
}

.home-blob-1 {
    bottom: 0;
}
.home-blob-2 {
    bottom: 0;
}

@keyframes fadeIn {}