.home {
    position: relative;
    background-image: url("../../assets/img/home-bg.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

.home::after {
    content: "";
    width: 80%;
    height: 100%;
    background-color: var(--primary);
    background-image: url("../../assets/img/home-blob.svg");
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.home-inner {
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.home-title {
    display: grid;
    max-width: 384px;
    margin-bottom: var(--mb-sm);
    font-size: var(--fs-lg);
}

.home-text {
    color: white;
    grid-area: 1 / -1;
}

.home-text-2 {
    visibility: hidden;
}

.home-text-3 {
    visibility: hidden;
}

.home-link {
    padding: 0.8em 1.5em;
    border-radius: 30px;
    background-color: var(--wht);
    color: var(--text-dark);
    font-weight: 600;
}


@media (max-width: 512px) {
    .home-title {
        max-width: 256px;
    }
}

@media (min-width: 768px) {
    .home::after {
        width: 60%;
    }

    .home-title {
        font-size: var(--fs-xl);
    }
}