.settings{
    margin-top: 2rem;
}
.settings-inner{
    gap: 2rem;
    /* margin-top: 3rem; */
    align-items: normal !important;

}
.settings-backaro{
    margin: 0 !important;
}
.settings-head h3{
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
}
.settings-form-div h5{
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}