.auth {
    padding: 3em 0;
}

.auth-wrap {
    max-width: 576px !important;
}

.auth-w1-lead {
    color: var(--cl-lead);
    text-transform: uppercase;
    margin-bottom: var(--mb-lg);
}

.auth-w1-circ {
    --len: 5px;
    width: var(--len);
    height: var(--len);
    margin-left: 2px;
    background-color: var(--base);
    display: inline-block;
}

.auth-w4-line {
    position: relative;
    text-align: center;
    margin-bottom: var(--mb-lg);
}

.auth-w4-line::before,
.auth-w4-line::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 5rem);
    height: 2px;
    background-color: var(--surface-dark-400);
}

.auth-w4-line::before {
    left: 0;
}

.auth-w4-line::after {
    right: 0;
}

.auth-w4-list {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.auth-w4-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.1em 0;
}

.auth-w4-icon {
    width: 32px;
    aspect-ratio: 1;
}