.auth {
    padding: 3em 0;
}
.auth-w1-lead {
    color: var(--cl-lead);
    margin-bottom: var(--mb-md);
    font-size: 1.5rem;
    font-weight: 700;
}

.auth-w1-circ {
    --len: 5px;
    width: var(--len);
    height: var(--len);
    margin-left: 2px;
    background-color: var(--base);
    display: inline-block;
}

.auth-w2-lead {
    margin-bottom: var(--mb-lg);
}

.auth-w3-line {
    position: relative;
    text-align: center;
    margin-bottom: var(--mb-lg);
}

.auth-w3-line::before,
.auth-w3-line::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 5rem);
    height: 0.5px;
    background-color: var(--surface-dark-400);
}

.auth-w3-line::before {
    left: 0;
}

.auth-w3-line::after {
    right: 0;
}

.auth-w3-list {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.auth-w3-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.1em 0;
}

.auth-w3-icon {
    width: 22px;
    aspect-ratio: 1;
}

/* MEDIA QUERY */
@media(max-width: 585px){
    .auth-wrap{
        width: 90% !important;
    }
    .auth-w3-icon {
        width: 20px;
    }
    .auth-w1-lead {
        font-size: 1.3rem;
    }
}