.signin,
.signup {
    --border: var(--surface4-light);
}

.signin-lead,
.signup-lead {
    margin-bottom: var(--mb-xs);
}

.signin-link,
.signup-link {
    margin-bottom: var(--mb-md);
}

.signin-field,
.signup-field {
    position: relative;
    margin-bottom: var(--mb-md);
}

.signin-label,
.signin-input,
.signup-label,
.signup-input {
    width: 100%;
    display: block;
}

.signin-label,
.signup-label {
    color: var(--cl-text);
    margin-bottom: var(--mb-xs);
}

.signin-input,
.signup-input {
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.8em;
    padding-right: 40px;
    /* background-color: var(--border); */
}

.auth-w4-wrap,
.auth-w5-wrap {
    position: relative;
}

.signin-icon,
.signup-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.signin-reset,
.signup-reset {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--cl-main);
}

.signin-enter,
.signup-enter {
    width: 100%;
    display: block;
    padding: 0.8em 0;
    background-color: var(--brand-light);
    margin: var(--mb-lg) 0;
    border-radius: 4px;
}

.signin-image,
.signup-image {
    display: none;
}

@media (min-width: 768px) {
    .signin,
    .signup {
        display: flex;
        /* align-items: stretch; */
    }

    .signin-place,
    .signin-image,
    .signup-place,
    .signup-image {
        flex: 1;
    }

    .signin-image,
    .signup-image {
        display: flex;
        align-items: center;
        /* justify-content: end; */
        /* margin-left: 3em; */
        transform: scale(0.8);
    }
}