.auth-w2-lead {
    margin-bottom: var(--mb-xs);
}

.auth-w2-link {
    margin-bottom: var(--mb-sm);
}

.auth-w2-form {
    width: 100%;
}

.auth-w2-field {
    margin-bottom: var(--mb-md);
}

.auth-w2-label {
    display: block;
    margin-bottom: var(--mb-xs);
}

.auth-w2-input {
    width: 100%;
    border: 1px solid var(--border);
    padding: 0.5em;
}

.auth-w2-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mb-xl);
}

.auth-w2-block {
    display: flex;
    align-items: center;
}

.auth-w2-check {
    --len: 20px;
    appearance: none;
    -webkit-appearance: none;
    width: var(--len);
    height: var(--len);
    border: 1px solid var(--border);
    margin-right: 0.5rem;
}

.auth-w2-check:hover {
    border-radius: 2px;
}

.auth-w2-check:checked,
.auth-w2-check:focus {
    border-color: transparent;
    background-color: var(--base);
    background-image: url("../../assets/img/icon-check.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.auth-w2-btn {
    width: 100%;
    display: block;
    background-color: var(--base);
    padding: 0.8em;
}