.footer {
    padding: 3em 0;
    background-color: var(--primary);
}

.footer-w1 {
    margin-bottom: 2rem;
}

.footer-w1-logo {
    color: var(--wht);
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
}

.footer-w1-item {
    margin-bottom: 1rem;
    /* text-align: right; */
}

.footer-w1-link {
    color: var(--wht);
}

.footer-w2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1em;
    justify-content: space-between;
    border-top: 1px solid #fff;
}

.footer-w2-copy {
    color: var(--wht);
}

.footer-w2-list {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-w2-link {
    --len: 40px;
    width: var(--len);
    height: var(--len);
    border: 1px solid var(--border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-ig{
    width: 20px;
}
.tw-x{
    width: 1.2rem;
}
/* MEDIA QUERY */
@media(max-width: 385px){
    .footer-w2 {
        padding-top: 1em;
        justify-content: center;
        gap: 1rem;
        flex-direction: column-reverse;
    }
    .footer-w2-list img{
        width: 1.2rem;
    }
     .tw-x{
        width: .8rem;
    }
}
@media (min-width: 48em) {
    .footer-w1 {
        display: flex;
        justify-content: space-between;
    }
    .footer-w1-list {
        columns: 2;
        column-gap: 5rem;
    }
}