

@media(max-width:680px){
    .analysis-tab{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 0 !important; 
        gap: 0rem !important;
        place-items: center;
        justify-self: center;
        align-self: center;
    }
    .analysis-tab-desc{
        font-size: .7rem;
    }  
    .analysis-tab button {
      flex-direction: column !important;
      text-align: center !important;
      gap: 0.25rem !important;
    }
    .analysis-tab-desc {
        display: none !important;
      }
  }

@media (max-width: 320px) {
    .analysis-tab{
   display: flex !important;
   flex-direction: column !important;
    }
    .analysis-tab-desc {
        display: block !important;
      }
}