.auth-w4-form {
    width: 100%;
}

.auth-w4-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: var(--mb-md);
}

.auth-w4-full {
    grid-column: span 2;
}

.auth-w4-label {
    display: block;
    margin-bottom: var(--mb-xs);
}

.auth-w4-input {
    width: 100%;
    border: 1px solid var(--border);
    padding: 0.5em;
}

.auth-w4-block {
    color: var(--text-dark);
    margin-bottom: var(--mb-lg);
    display: block;
}

.auth-w4-check {
    --len: 20px;
    appearance: none;
    -webkit-appearance: none;
    width: var(--len);
    height: var(--len);
    border: 1px solid var(--border);
    margin-right: 0.5rem;
}

.auth-w4-btn {
    width: 100%;
    display: block;
    background-color: var(--base);
    padding: 0.8em;
}