.verify_inner h2{
font-size: 1rem;
text-align: center;
margin-bottom: 1.5rem;
}
.verify_info_inner {
flex-direction: column;
width: 100%;
margin-bottom: 2rem;
}
.verify_inner{
flex-direction: column;
}
.verify_info{
    /* gap: 5rem; */
    padding: 3rem;
    justify-content: space-between;
    background: var(--base) ;
    color: var(--wht);
    border-radius: .5rem;
}
.v_info h3{
margin-bottom: 1rem;
}
.verify_info img{
    width: 5rem;
}
.verify_codes{
    margin-top: 3rem;
    justify-content: center;
}

.input_codes{
    justify-content: center;
    gap: 3rem;
}
.verify_codes input{
    background: var(--litgray);
width: 4.5rem;
height: 3.5rem;
padding: 1rem;
font-size: 1.4rem;
/* border: 1px solid black; */
}
.verify_codes input:focus{
border: 1px solid var(--base);
}
/* Remove number input spinners for WebKit browsers (Chrome, Safari, etc.) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* No need for -moz-appearance, but spinner will still show in Firefox */

.verify-enter{  
    width: 30%;
    display: block;
    padding: 0.8em 0;
    background-color: var(--base);
    margin: var(--mb-lg) 0;
    border-radius: 4px;
     color: var(--wht);
}
.verify-count{
    color: var(--base);
    font-weight: 600;
}
/* Media Query */
@media(max-width:512px){
    .verify_info img{
        display: none;
    }
    .verify_info{
        padding: 1rem;
    }
    .v_info h3{
        font-size: .9rem;
    }
    .v_info p{
        font-size: .8rem;
    }
    .verify-enter{  
        width: 80%;
    }
    .wrap{
        width: 95% !important;
    }
    .verify_codes input{
        background: var(--litgray);
    width: 3.5rem;
    height: 2.5rem;
    padding: .8rem;
    font-size: 1rem;
    /* border: 1px solid black; */
    }
    .input_codes{
        justify-content: center;
        gap: 1rem;
    }
}
@media(max-width:384px){

}
/* 512px */