@import "https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

:root {
    --ff-body: "Montserrat", sans-serif;
    --ff-text: "Inter", sans-serif;

    --fs-lg: 1.625rem;
    --fs-md: 1.325rem;
    --fs-sm: 1rem;
    --fs-xs: 0.875rem;

    --brand-h: 188;
    --brand-s: 69%;
    --brand-l: 36%;

    --base: hsl(var(--brand-h) var(--brand-s) var(--brand-l));
    --text-dark: hsl(var(--brand-h) var(--brand-s) 10%);
    --text-lite: hsl(var(--brand-h) var(--brand-s) 99%);
    --text-gray: hsl(var(--brand-h) var(--brand-s) 50%);
    --surface-dark-100: hsl(var(--brand-h) 10% 40%);
    --surface-dark-200: hsl(var(--brand-h) 10% 30%);
    --surface-dark-300: hsl(var(--brand-h) 10% 20%);
    --surface-dark-400: hsl(var(--brand-h) 10% 10%);
    --surface-lite-100: hsl(var(--brand-h) 10% 90%);
    --surface-lite-200: hsl(var(--brand-h) 10% 80%);
    --surface-lite-300: hsl(var(--brand-h) 10% 70%);
    --surface-lite-400: hsl(var(--brand-h) 10% 60%);
    --surface-gray-100: hsl(var(--brand-h) 10% 50%);
    --surface-gray-200: hsl(var(--brand-h) 10% 50%);
    --surface-gray-300: hsl(var(--brand-h) 10% 50%);
    --surface-gray-400: hsl(var(--brand-h) 10% 50%);
    --shadow-gray: hsl(var(--brand-h) var(--brand-s) 0%);
    --border-gray: hsl(var(--brand-h) var(--brand-s) 0%);

    --mb-xl: 3em;
    --mb-lg: 1.5em;
    --mb-md: 1em;
    --mb-sm: 0.5em;
    --mb-xs: 0.3em;

    --bp-lg: 1044px;
    --bp-md: 768px;
    --bp-sm: 512px;
    --bp-xs: 384px;

    /* Color */
    --wht: #fff;
    --blk:#000;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: var(--ff-body);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

input,
button {
    font: inherit;
    border: none;
    outline-style: none;
    background-color: transparent;
}

img,
button {
    user-select: none;
}

.wrap {
    width: 92%;
    margin: 0 auto;
    max-width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
}