@import "https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "tailwindcss";

:root {
  --ff-body: "Montserrat", sans-serif;
  --ff-text: "Inter", sans-serif;

  /* Colors */
  /* --base: #1D8C9C; */
  --base: #2095d3;
  --btns: #149bba;
  --blue-border: #bfe9f3;
  --wht: #fff;
  --fade: #e6e6e6;
  --blk: #000;
  --gray: #777777;
  --litgray: #f1f1f1;
  --ltgray: #e7e7e73d;
  --green: rgb(53, 143, 53);
  --border: 0.5px solid rgb(167, 167, 167);
  --primary: #2095d3;
  --secondary-blue: #35c6f4;
  --lemon: #14fe19;
  --greytxt: #6b7280;

  /* --green: #196332; */

  /* Font-Sizes */
  --fs-3xl: 1.5rem;
  --fs-2xl: 1.5rem;
  --fs-xl: 1.375rem;
  --fs-lg: 1.125rem;
  --fs-md: 0.925rem;
  --fs-sm: 0.85rem;

  /* Margin */
  --mb-xl: 3em;
  --mb-lg: 1.5em;
  --mb-md: 1em;
  --mb-sm: 0.5em;
  --mb-xs: 0.3em;

  --bp-lg: 1044px;
  --bp-md: 768px;
  --bp-sm: 512px;
  --bp-xs: 384px;
}

*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-size: var(--fs-md);
  font-family: var(--ff-body);
  background: #e5e7eb;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
.greytxt {
  color: var(--greytxt);
}
/* input,
button {
  font: inherit;
  border: none;
  outline-style: none;
  background-color: transparent;
} */

img,
button {
  user-select: none;
}

input.insufficient-points {
  border-color: red;
}

button.inactive {
  opacity: 0.5;
}

.wrap {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.btn {
  margin: 4rem 0;
  width: 80%;
  display: block;
  background-color: var(--base);
  padding: 0.8em;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.fw-5h {
  font-weight: 500;
}
.fw-6h {
  font-weight: 600;
}

/* SPIN EFFECT */
.spin-btn {
  background: var(--base);
  color: white;
  padding: 0.8em 3rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  min-width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* SPIN EFFECT */

/* MEDIA QUERY */
@media (max-width: 550px) {
  .wrap {
    width: 95%;
  }
}

@media (max-width: 385px) {
  .btn {
    font-size: 0.85rem;
  }

  .spin-btn {
    font-size: 0.9rem;
  }
}
